/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .fuentetitulo {
    font-size: 25px;
  }
  .fuentetexto {
    font-size: 20px;
  }

  .footer {
    font-size: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .fuentetitulo {
    font-size: 30px;
  }
  .fuentetexto {
    font-size: 20px;
  }
  .footer {
    font-size: 15px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .fuentetitulo {
    font-size: 35px;
  }
  .fuentetexto {
    font-size: 20px;
  }
  .footer {
    font-size: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .fuentetitulo {
    font-size: 40px;
  }
  .fuentetexto {
    font-size: 25px;
  }
  .footer {
    font-size: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .fuentetitulo {
    font-size: 45px;
  }
  .fuentetexto {
    font-size: 25px;
  }

  .footer {
    font-size: 20px;
  }
}
